
  <%- include("includes/header") %>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Registered Users</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Name</th>
                  <th scope="col" class="sort" data-sort="number">Number</th>
                  <th scope="col" class="sort" data-sort="email">Email</th>
                  <th scope="col" class="sort" data-sort="is_activate">Activation Status</th>
                  <th scope="col" class="sort" data-sort="gst">GST Image</th>
                  
                  <th scope="col" class="sort" data-sort="doc">Doc Image</th>
                  

                  
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
                <% for(var i=0; i < userData.length; i++) { 
                  const {emergency_contact, ...userList} = userData[i];
                  %>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
                      </a>
                      <div class="media-body">
                        <span class="name mb-0 text-sm"><%= userData[i].name %></span>
                      </div>
                    </div>
                  </th>
                  <td class="number">
                    <%= userData[i].number %>
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      
                      <span class="status"><%= userData[i].email %></span>
                    </span>
                  </td>
                 
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="completion mr-2"><%= (userData[i].is_activate=="1")?"Active":"Inactive" %></span>
                      
                    </div>
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      
                      <span class="status"><img src='http://65.0.85.130:3001/images/<%= userData[i].gst_filename %>' width="50" height="50"/></span>
                    </span>
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      
                      <span class="status"><img src='http://65.0.85.130:3001/images/<%= userData[i].doc_filename %>' width="50" height="50"/></span>
                    </span>
                  </td>
                  <td class="text-right">
                    
                    <div class="dropdown">
                      <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      
                      <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" id="launchid" 
                        class="btn btn-primary" 
                        data-toggle="modal" 
                        data-target="#exampleModal" onClick="updateStatus('<%=userData[i]._id%>','<%=userData[i].is_activate%>')" href="#">Change Status</a>
                        
                          <a class="dropdown-item" data-toggle="modal" href="#myModal" onClick="return viewUser('<%=JSON.stringify(userList)%>','userList')">View User</a>
                          <a class="dropdown-item" data-toggle="modal" href="#myModal" onClick="return viewUser('<%= userData[i].emergency_contact%>','emergency')">Emergency Contact</a>

                        <a class="dropdown-item" href="#">Delete User</a>
                        
                      </div>
                    </div>
                  </td>
                </tr>
               <% } %>
              </tbody>
            </table>
          </div>
          <!-- Card footer -->
          
        </div>
      </div>
    </div>
    
  </div>

   <%- include("includes/footer") %>